<!DOCTYPE html>
<html>
  <head>
    <title>BaseballGameSimulator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'index' %>
  </head>

  <body>
    <header>
      <h1>Baseball Game Simulator</h1>
    </header>

    <main>
      <%= yield %>
    </main>
  </body>
    <footer>
      <p>&copy; 2023 Baseball Game Simulator. All rights reserved.</p>
  </footer>
</html>
